.LoginForm {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

    mat-form-field {
        display: block;
        width: 100%;
    }

    &-field {
        margin-bottom: 10px;
    }

    &-title {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    input {
        background: none;
        text-align: 20px;
    }
}