.LeadList {
    padding: 20px 40px;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    &-title {
        font-size: 24px;
        line-height: 40px;
        color: #707173;
    }

    &-addBtn {
        height: 40px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
    }

    &-classBtn {
        height: 40px;
        width: 170px;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 20px;
    }

    &-importBtn {
        height: 40px;
        width: 200px;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 20px;
    }

    &-field {
        height: 40px;
        width: 170px;
        font-size: 12px;
        margin-right: 20px;
        ::ng-deep .mat-form-field-flex {
            height: 41px !important;
        }

        ::ng-deep .mat-form-field-infix {
            padding-top: 1px;
        }
    }

    &-buttons {
        display: flex;
    } 

    &-spiner {
        margin: auto;
    }

    &-updateBtn {
        margin-right: 20px;
    }

    table {
        width: 100%;
    }

    td > div {
        &:last-child {
            line-height: 13px;
        }
    }

    &-badge {
        width: 100%;
        max-width: 130px;
        cursor: pointer;
    }

    &-table {
        margin-bottom: 20px;
        ::ng-deep mat-header-row {
            height: 40px;
        }
    }

    

    td {
        padding-right: 10px;
        max-width: 330px;
        font-size: 12px;
        font-family: 'verdana';
    }
    th {
        padding-right: 10px;
        max-width: 330px;
    }

    &-phone {
        width: 100px;
    }
}