<div class="LeadList">
    <div class="LeadList-header">
        <div class="LeadList-title">Лиды</div>
        <div class="LeadList-buttons">
            <mat-form-field class="LeadList-field" appearance="fill">
                <mat-label >Сортировать по</mat-label> 
                <mat-select [(ngModel)]="sortOption" name="sort" (ngModelChange)="sortLeads()">
                    <mat-option *ngFor="let sort of sortSelectOpts" [value]="sort.value">
                        {{sort.label}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
            <button 
                mat-raised-button 
                class="LeadList-classBtn" 
                (click)="openClassModal()" 
                color="primary"
                >
                Прикрепить к уроку
            </button>
            <button 
                mat-raised-button
                class="LeadList-importBtn"
                dropzone
                [dzConfig]="docUploadConfig"
                (dzUploadStarted)="addFiles($event)"
                (dzUploadSuccess)="onUploadSuccess($event)"
                (click)="onDzClick($event)"
                color="basic"
                #dzcontainer
                >
                <span *ngIf="!isUploading">импортировать из CSV</span>
                <mat-spinner
                    class="LeadList-spiner"
                    diameter='30'
                    *ngIf="isUploading"
                    >
                </mat-spinner>
            </button>
            <button mat-raised-button class="LeadList-addBtn" (click)="openAddModal()" color="primary" *ngIf="userService.isAdmin()">добавить</button>
        </div>
    </div>
    <lead-filters
        [statusSelectOpts]="statusSelectOpts"
        [officeSelectOpts]="officeSelectOpts"
        (submitFilters)="filterLeads($event)"
    >
    </lead-filters>
    <mat-spinner
        class="LeadList-spiner"
        diameter='150'
        *ngIf="isLoading"
        >
    </mat-spinner>
    <div class="LeadList-content" *ngIf="leadList && leadList.length && !isLoading">
        <table mat-table [dataSource]="leadList" class="LeadList-table mat-elevation-z8">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-checkbox
                        [color]="'primary'"
                        [(ngModel)]="checkboxValues[element.id]"
                        class="RolesList-checkbox"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Добавлен</th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="LeadList-phone">
                        {{element.createdAt | date :'yyyy.MM.dd'}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Телефон </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="LeadList-phone">
                        {{element.phone}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="parentFIO">
                <th mat-header-cell *matHeaderCellDef>
                    ФИО родитель/ребенок
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.parentFIO}}</div>
                    <div>{{element.childFIO}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="childBirthday">
                <th mat-header-cell *matHeaderCellDef> Дата рожд. </th>
                <td mat-cell *matCellDef="let element"> {{element.childBirthday | date :'yyyy.MM.dd'}} </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Название курса </th>
                <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Статус </th>
                <td mat-cell *matCellDef="let element">
                    <div 
                        [matMenuTriggerFor]="menu"
                    >
                        <app-badge 
                            class="LeadList-badge" 
                            [type]="STATUS_LABELS[element.status].badgeType"
                        >
                            {{STATUS_LABELS[element.status].label}}
                        </app-badge>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button 
                            mat-menu-item 
                            *ngFor="let status of statusSelectOpts"
                            (click)="changeStatus(status.value, element)"
                        >
                            <span>{{status.label}}</span>
                        </button>
                    </mat-menu>
                    <!-- <app-badge class="LeadList-badge" [type]="STATUS_LABELS[element.status].badgeType">{{STATUS_LABELS[element.status].label}}</app-badge> -->
                </td>
            </ng-container>       
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
            </ng-container>
            <ng-container matColumnDef="office">
                <th mat-header-cell *matHeaderCellDef> Филиал </th>
                <td mat-cell *matCellDef="let element"> {{element.branchOffice.name}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Дата урока </th>
                <td mat-cell *matCellDef="let element"> 
                    <ng-container *ngIf="element.trialClass"> {{element.trialClass.date | date: 'yyyy.MM.dd HH:mm'}} </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element" align="right">
                    <button 
                        mat-icon-button
                        [disabled]="userService.isMentor()"
                        [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openUpdateModal(element)">
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="removeItem(element.id)">
                          <span>Удалить</span>
                        </button>
                        <button mat-menu-item (click)="showHistory(element.id)">
                          <span>История изменений</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator 
            [length]="pageOptions.totalDocs"
            [pageSize]="pageOptions.pageSize"
            [pageSizeOptions]="[20, 50, 100]"
            (page)="pageEvent = changePage($event)"
            >
        </mat-paginator>
    </div>
</div>