.Layout {
    display: flex;
    justify-content: flex-start;
    position: relative;

    &-header {
        height: 60px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    &-sideNav {
        min-width: 200px;
        width: 200px;
    }

    &-mainBlock {
        width: calc(100% - 200px);
    }

    &-logoutBtn {
        height: 40px;
        padding: 0 20px;
        text-transform: uppercase;
        outline: none;
        border-radius: 2px;
        background-color: #b4daec;
        border: none;
        cursor: pointer;
    }

    &-title {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
    }
}