<div class="Layout">
    <side-nav class="Layout-sideNav"></side-nav>
    <div class="Layout-mainBlock">
        <div class="Layout-header">
            <div class="Layout-title">Внутренняя статистика</div>
            <button class="Layout-logoutBtn" (click)="logout()">выйти</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>