:host {
    display: block;
    color: #fff;
    font-size: 9px;
    line-height: 9px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
    border-radius: 3px;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}