<form class="LeadFilters" #ngForm="ngForm" (ngSubmit)="filterLeads()">
    <mat-form-field class="LeadFilters-field" appearance="fill">
        <mat-label>Телефон</mat-label>
        <input 
            matInput
            [(ngModel)]="filtersForm.phone"
            name="phone"
            >
    </mat-form-field>
    <mat-form-field class="LeadFilters-field" appearance="fill">
        <mat-label>ФИО Родителя</mat-label>
        <input 
            matInput
            [(ngModel)]="filtersForm.parentFIO"
            name="parentFIO"
            >
    </mat-form-field>
    <mat-form-field appearance="fill" class="LeadFilters-field">
        <mat-label>Дата рождения</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="filtersForm.childBirthday.start" placeholder="Start date" name="start">
          <input matEndDate [(ngModel)]="filtersForm.childBirthday.end" placeholder="End date" name="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker 
            #picker
        >
        </mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="LeadFilters-field" appearance="fill">
        <mat-label >Выберите статус</mat-label> 
        <mat-select [(ngModel)]="filtersForm.status" name="status">
            <mat-option *ngFor="let status of statusSelectOpts" [value]="status.value">
                {{status.label}}
            </mat-option>
        </mat-select> 
    </mat-form-field>
    <mat-form-field class="LeadFilters-field" appearance="fill">
        <mat-label>Комментарий</mat-label>
        <input 
            matInput
            [(ngModel)]="filtersForm.comment"
            name="comment"
        >
    </mat-form-field>
    <mat-form-field class="LeadFilters-field" appearance="fill">
        <mat-label >Выберите филиал</mat-label> 
        <mat-select [(ngModel)]="filtersForm.branchOffice" name="branchOffice">
            <mat-option *ngFor="let office of officeSelectOpts" [value]="office.value">
                {{office.label}}
            </mat-option>
        </mat-select> 
    </mat-form-field>
    <mat-form-field appearance="fill" class="LeadFilters-field">
        <mat-label>Дата урока</mat-label>
        <mat-date-range-input [rangePicker]="classPicker">
          <input matStartDate [(ngModel)]="filtersForm.trialClass.start" placeholder="Start date" name="lessStart">
          <input matEndDate [(ngModel)]="filtersForm.trialClass.end" placeholder="End date" name="lessEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="classPicker"></mat-datepicker-toggle>
        <mat-date-range-picker
            #classPicker
        >
        </mat-date-range-picker>
    </mat-form-field>
    <button mat-mini-fab color="primary" class="LeadFilters-button" type="submit">
        <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="LeadFilters-clearButton" (click)="clearFilters()" type="button">
        <mat-icon>delete</mat-icon>
    </button>
</form>