<div class="SideNav">
    <div class="SideNav-header">
        Robotcrimea
    </div>
    <button class="SideNav-menuItem" *ngIf="userService.isAdmin()" mat-button [matMenuTriggerFor]="statistics">Статистика</button>
    <mat-menu class="SideNav-subMenu" #statistics="matMenu">
        <button class="SideNav-subMenuBtn" [routerLink]="['/statistics/on-mentor']" mat-menu-item>по преподавателю</button>
        <button class="SideNav-subMenuBtn" mat-menu-item disabled>по городу</button>
        <button class="SideNav-subMenuBtn" mat-menu-item disabled>по филиалу</button>
    </mat-menu>
    <button class="SideNav-menuItem" *ngIf="userService.isAdmin()" mat-button [matMenuTriggerFor]="dictionary">Словари</button>
    <mat-menu class="SideNav-subMenu" #dictionary="matMenu">
        <button class="SideNav-subMenuBtn" mat-menu-item [routerLink]="['/dictionary/branch-office']">филиалы</button>
    </mat-menu>
    <button class="SideNav-menuItem" mat-button [routerLink]="['/lead/lead']">Лиды</button>
    <button class="SideNav-menuItem" *ngIf="!userService.isMentor()" mat-button [routerLink]="['/lead/trial-class']">Пробные занятия</button>
    <button class="SideNav-menuItem" mat-button [routerLink]="['/payment']">Платежи</button>
</div>