.SideNav {
    width: 200px;
    min-height: 100vh;
    height: 100%;
    background-color: #fbfbfb;

    &-header {
        background-color: #15202b;
        height: 60px;
        width: 100%;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        text-align: center;
        line-height: 60px;
        margin-bottom: 20px;
    }

    &-menuItem {
        width: 100%;
        text-align: start;
        text-transform: uppercase;
    }

    &-subMenuBtn {
        width: 200px;

    }
}