<div class="BranchOffice">
    <div class="BranchOffice-header">
        <div class="BranchOffice-title">Филиалы</div>
        <button mat-raised-button class="BranchOffice-addBtn" (click)="openAddModal()" color="primary">добавить</button>
    </div>
    <div class="BranchOffice-content">
        <table mat-table [dataSource]="officeList" class="BranchOffice-table mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Филиал </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Адрес </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Дата создания </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date :'yyyy.MM.dd, HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" align="right">
                    <button 
                        mat-raised-button 
                        color="warn" 
                        class="BranchOffice-removeBtn"
                        (click)="removeItem(element.id)"
                        >
                        Удалить
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [length]="pageOptions.totalDocs"
            [pageSize]="pageOptions.pageSize"
            [pageSizeOptions]="[20, 50, 100]"
            (page)="pageEvent = changePage($event)"
            >
        </mat-paginator>
    </div>
</div>