<div class="PaymentList">
    <div class="PaymentList-header">
        <div class="PaymentList-title">Платежи</div>
    </div>
    <payment-filters
        [statusSelectOpts]="statusSelectOpts"
        [typeSelectOpts]="typeSelectOpts"
        (submitFilters)="filterPayments($event)"
    >
    </payment-filters>
    <mat-spinner
        class="PaymentList-spiner"
        diameter='150'
        *ngIf="isLoading"
        >
    </mat-spinner>
    <div class="PaymentList-content">
        <table mat-table [dataSource]="paymentList" class="PaymentList-table mat-elevation-z8">
            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef> Имя Фамилия </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.createdBy">{{element.createdBy.name}} {{element.createdBy.lastName}}</ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="student">
                <th mat-header-cell *matHeaderCellDef> Имя студента </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.student">{{element.student.name}} {{element.student.lastName}}</ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Сумма (руб) </th>
                <td mat-cell class="PaymentList-amount" *matCellDef="let element"> {{element.amount}}</td>
            </ng-container>
            <ng-container matColumnDef="groupName">
                <th mat-header-cell *matHeaderCellDef> Группа </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.group">{{element.group.name}}</ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Дата оплаты </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date :'yyyy.MM.dd, HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Статус </th>
                <td mat-cell *matCellDef="let element">
                    <app-badge 
                        class="PaymentList-badge" 
                        [type]="STATUS_LABELS[element.status].badgeType"
                        >
                        {{STATUS_LABELS[element.status].label}}
                    </app-badge>
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Тип платежа </th>
                <td mat-cell *matCellDef="let element">
                    <app-badge 
                        class="PaymentList-badge" 
                        [type]="TYPE_LABELS[element.type].badgeType"
                        >
                        {{TYPE_LABELS[element.type].label}}
                    </app-badge>
                </td>
            </ng-container>
            <ng-container matColumnDef="invoiceId">
                <th mat-header-cell *matHeaderCellDef> ID операции </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
            </ng-container>
            <ng-container matColumnDef="transactionId">
                <th mat-header-cell *matHeaderCellDef> ID транзакции </th>
                <td mat-cell *matCellDef="let element"> {{element.transactionId }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [length]="pageOptions.totalDocs"
            [pageSize]="pageOptions.pageSize"
            [pageSizeOptions]="[20, 50, 100]"
            (page)="pageEvent = changePage($event)"
            >
        </mat-paginator>
    </div>
</div>