.PaymentList {
    padding: 20px 40px;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    &-title {
        font-size: 24px;
        line-height: 40px;
        color: #707173;
    }

    &-addBtn {
        height: 50px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
    }

    &-content {
        width: 100%;
    }

    &-cityRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #f1f1f1;
        // &:first-child {
        //     border-top: transparent;
        // }
    }

    &-cityId {
        color: black;
        font-size: 16px;
    }

    &-devider {
        height: 10px;
        width: 1px;
        background-color: #f1f1f1;
        margin: 0 20px;
    }

    &-cityName {
        color: black;
        font-size: 16px;
    }

    table {
        width: 100%;
    }

    &-table {
        margin-bottom: 20px;
        ::ng-deep mat-header-row {
            height: 40px;
        }
    }

    &-badge {
        width: 100%;
        max-width: 130px;
        cursor: pointer;
    }

    td {
        padding-right: 10px;
        max-width: 330px;
        font-size: 12px;
        font-family: 'verdana';
    }
    th {
        padding-right: 10px;
        max-width: 330px;
    }

    &-amount {
        text-align: center;
    }

    &-spiner {
        margin: auto;
    }

}