.LeadModal {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    &-leadFormRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-addBtn {
        width: 150px;
        height: 50px;
        text-transform: uppercase;
        font-size: 11px;
        min-width: 150px;
    }

    &-field {
        width: 100%;
        &:nth-child(2n) {
            margin-left: 20px;
           } 
    }

    &-timePicker {
        position: relative;
        z-index: 10000;
    }

    &-spiner {
        margin: auto;
    }
}