<form #ngForm="ngForm" (ngSubmit)="submit(ngForm)">
    <div class="LeadModal">
        <div class="LeadModal-leadFormRow">
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label>ФИО Родителя</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.parentFIO"
                    name="parentFIO"
                    required
                >
                <mat-error>
                    Введите ФИО
                </mat-error>
            </mat-form-field>
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label>ФИО Ребенка</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.childFIO"
                    name="childFIO"
                    required
                >
                <mat-error>
                    Введите ФИО
                </mat-error>
            </mat-form-field>
        </div>
        <div class="LeadModal-leadFormRow">
            <mat-form-field appearance="fill" class="LeadModal-field">
                <mat-label>Дата рождения</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker"
                    [(ngModel)]="data.childBirthday"
                    name="childBirthday"
                    required
                    >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label>Название курса</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.courseName"
                    name="courseName"
                    required
                >
                <mat-error>
                    Введите название
                </mat-error>
            </mat-form-field>
        </div>
        <div class="LeadModal-leadFormRow">
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label>Телефон</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.phone"
                    name="phone"
                    required
                >
                <mat-error>
                    Введите телефон
                </mat-error>
            </mat-form-field>
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label >Выберите филиал</mat-label> 
                <mat-select [(ngModel)]="data.branchOffice" name="branchOffice" required>
                    <mat-option *ngFor="let office of officeSelectOpts" [value]="office.value">
                        {{office.label}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>
        <div class="LeadModal-leadFormRow">
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label >Выберите статус</mat-label> 
                <mat-select [(ngModel)]="data.status" required name="status">
                    <mat-option *ngFor="let status of statusSelectOpts" [value]="status.value">
                        {{status.label}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label >Выберите урок</mat-label> 
                <mat-select [(ngModel)]="data.trialClass" name="trialClass" [disabled]="trialClassSelectOpts.length < 1">
                    <mat-option *ngFor="let class of trialClassSelectOpts" [value]="class.value">
                        {{class.label | date : 'yyyy.MM.dd, HH:mm'}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>
        <div class="LeadModal-leadFormRow">
            <mat-form-field class="LeadModal-field" appearance="fill">
                <mat-label>Комментарий</mat-label>
                <textarea 
                    matInput
                    [(ngModel)]="data.comment"
                    name="comment"
                >
                </textarea>
            </mat-form-field>
        </div>
        <button
            mat-stroked-button
            type="submit"
            color="primary"
            cdkFocusInitial
            class="LeadModal-addBtn"
            >
            <span *ngIf="!isLoading">Сохранить</span>
            <mat-spinner
                class="LeadModal-spiner"
                diameter='35'
                *ngIf="isLoading"
                >
            </mat-spinner>
        </button>
    </div>
</form>