.TrialClassModal {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    &-addBtn {
        width: 150px;
        height: 50px;
        text-transform: uppercase;
        font-size: 11px;
        min-width: 150px;
    }

    &-field {
        width: 100%;
        margin-bottom: 20px;
    }

    &-timePicker {
        position: relative;
        z-index: 10000;
    }

    &-spiner {
        margin: auto;
    }
}