<mat-spinner
    class="TrialClassModal-spiner"
    diameter='35'
    *ngIf="isLoading"
>
</mat-spinner>

<form #ngForm="ngForm" (ngSubmit)="submit(ngForm)" *ngIf="!isLoading">
    <div class="TrialClassModal" mat-dialog-content>
        <mat-form-field class="TrialClassModal-field" appearance="fill">
            <mat-label >Выберите преподавателя</mat-label> 
            <mat-select [(ngModel)]="data.mentor" name="mentor" required>
                <mat-option *ngFor="let mentor of mentorsSelectOpts" [value]="mentor.value">
                    {{mentor.label}}
                </mat-option> 
            </mat-select> 
        </mat-form-field>
        <mat-form-field class="TrialClassModal-field" appearance="fill">
            <mat-label >Выберите филиал</mat-label> 
            <mat-select [(ngModel)]="data.office" name="office" required>
                <mat-option *ngFor="let office of officeSelectOpts" [value]="office.value">
                    {{office.label}}
                </mat-option> 
            </mat-select> 
        </mat-form-field>
        <mat-form-field appearance="fill" class="TrialClassModal-field">
            <mat-label>Выберите дату</mat-label>
            <input 
                matInput 
                [matDatepicker]="picker"
                [(ngModel)]="data.date"
                name="date"
                required
                >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="TrialClassModal-field">
            <mat-label>Выберите время</mat-label>
            <input 
                matInput 
                [ngxTimepicker]="timePicker"
                [(ngModel)]="data.time"
                [format]="timeFormat"
                name="time"
                required
                >
            <ngx-material-timepicker 
                class="TrialClassModal-timePicker" 
                #timePicker
                >
            </ngx-material-timepicker>
        </mat-form-field> 
        <button
            mat-stroked-button
            type="submit"
            color="primary"
            cdkFocusInitial
            class="TrialClassModal-addBtn"
            >
            <span *ngIf="!isSaving">Сохранить</span>
            <mat-spinner
                class="TrialClassModal-spiner"
                diameter='35'
                *ngIf="isSaving"
                >
            </mat-spinner>
        </button>
    </div>
</form>