.PaymentFilters {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;

    &-field {
        width: 100%;
        margin-right: 10px;
        height: 30px;
        font-size: 12px;
    }

    &-clearButton {
        margin-left: 5px;
    }
}