<form class="PaymentFilters" #ngForm="ngForm" (ngSubmit)="filterPayments()">
    <mat-form-field class="PaymentFilters-field" appearance="fill">
        <mat-label>Сумма</mat-label>
        <input 
            matInput
            type="number"
            [(ngModel)]="filtersForm.amount"
            name="amount"
            >
    </mat-form-field>
    <mat-form-field appearance="fill" class="PaymentFilters-field">
        <mat-label>Дата создания</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="filtersForm.createdAt.start" placeholder="Start date" name="start">
          <input matEndDate [(ngModel)]="filtersForm.createdAt.end" placeholder="End date" name="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker 
            #picker
        >
        </mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="PaymentFilters-field" appearance="fill">
        <mat-label >Выберите статус</mat-label> 
        <mat-select [(ngModel)]="filtersForm.status" name="status">
            <mat-option *ngFor="let status of statusSelectOpts" [value]="status.value">
                {{status.label}}
            </mat-option>
        </mat-select> 
    </mat-form-field>
    <mat-form-field class="PaymentFilters-field" appearance="fill">
        <mat-label >Выберите тип</mat-label> 
        <mat-select [(ngModel)]="filtersForm.type" name="type">
            <mat-option *ngFor="let type of typeSelectOpts" [value]="type.value">
                {{type.label}}
            </mat-option>
        </mat-select> 
    </mat-form-field>
    <button mat-mini-fab color="primary" class="PaymentFilters-button" type="submit">
        <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="PaymentFilters-clearButton" (click)="clearFilters()" type="button">
        <mat-icon>delete</mat-icon>
    </button>
</form>