<div class="TrialClass">
    <div class="TrialClass-header">
        <div class="TrialClass-title">Пробные занятия</div>
        <button mat-raised-button class="TrialClass-addBtn" (click)="openAddModal()" color="primary">добавить</button>
    </div>
    <div class="TrialClass-tabs">
        <div class="TrialClass-tab" [ngClass]="{'TrialClass-tab--active': isActiveTab == 0}" (click)="activateTab(0)">Все</div>
        <div class="TrialClass-tab" [ngClass]="{'TrialClass-tab--active': isActiveTab == 1}" (click)="activateTab(1)">Прошедшие</div>
        <div class="TrialClass-tab" [ngClass]="{'TrialClass-tab--active': isActiveTab == 2}" (click)="activateTab(2)">Будущие</div>
    </div>
    <div class="TrialClass-content">
        <mat-spinner
            class="TrialClass-spiner"
            diameter='150'
            *ngIf="isLoading"
            >
        </mat-spinner>
        <table mat-table [dataSource]="trialClassList" class=" TrialClass-table mat-elevation-z8" *ngIf="!isLoading">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Дата урока</th>
                <td mat-cell *matCellDef="let element"> {{element.date | date :'yyyy.MM.dd, HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="mentor">
                <th mat-header-cell *matHeaderCellDef> Ментор </th>
                <td mat-cell *matCellDef="let element"> {{element.mentor.name}} {{element.mentor.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="office">
                <th mat-header-cell *matHeaderCellDef> Филиал </th>
                <td mat-cell *matCellDef="let element"> {{element.office.name}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Дата создания </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date :'yyyy.MM.dd, HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" align="right">
                    <button 
                        mat-raised-button 
                        color="primary" 
                        class="TrialClass-updateBtn"
                        (click)="openUpdateModal(element)"
                        >
                        Изменить
                    </button>
                    <button 
                        mat-raised-button 
                        color="warn" 
                        class="TrialClass-removeBtn"
                        (click)="removeItem(element.id)"
                        >
                        Удалить
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [length]="pageOptions.totalDocs"
            [pageSize]="pageOptions.pageSize"
            [pageSizeOptions]="[20, 50, 100]"
            (page)="pageEvent = changePage($event)"
            >
        </mat-paginator>
    </div>
</div>