.TrialClass {
    padding: 20px 40px;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    &-title {
        font-size: 24px;
        line-height: 40px;
        color: #707173;
    }

    &-addBtn {
        height: 50px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
    }

    &-updateBtn {
        margin-right: 20px;
    }

    table {
        width: 100%;
    }

    &-table {
        margin-bottom: 20px;
        ::ng-deep mat-header-row {
            height: 40px;
        }
    }

    &-spiner {
        margin: 30px auto;
    }

    &-tabs {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        color: #5dc5ed;
        height: 40px;
        // position: absolute;
    }

    &-tab {
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        position: relative;
        text-transform: uppercase;

        &::after {
            display: none;
        }

        &--active {
            color: #2196f3;
            &::after {
                background-color: #2196f3;
                bottom: -5px;
                content: "";
                display: block;
                height: 2px;
                position: absolute;
                width: 100%;
            }
        }
    }
}