<div class="OnMentor">
    <div class="OnMentor-header">
        <div class="OnMentor-title">Статистика по преподавателю</div>
        <form [formGroup]="filterForm">
            <div class="OnMentor-controls">
                <mat-form-field class="OnMentor-formField" appearance="fill">
                    <mat-label >Выберите преподавателя</mat-label> 
                    <mat-select formControlName="mentorId" required>
                        <mat-option *ngFor="let mentor of mentorsSelectOpts" [value]="mentor.value">
                            {{mentor.label}}
                        </mat-option> 
                    </mat-select> 
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Выберите даты</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker 
                        #picker
                    >
                    </mat-date-range-picker>
                </mat-form-field>
                <button 
                    class="OnMentor-showBtn"
                    mat-raised-button
                    color="primary"
                    (click)="loadUsers()"
                    >
                    показать
                </button>
            </div>
        </form>
    </div>
    <div class="OnMentor-loader" *ngIf="loading">
        <mat-spinner
            class="OnMentor-spiner"
            diameter='200'
            >
        </mat-spinner>
    </div>
    <div class="OnMentor-content" *ngIf="mentorStatistic && !loading">
        
        <div class="OnMentor-highchart">
            <highcharts-chart
                [Highcharts] = "highcharts" 
                [options] = "incomeChartOptions"
                style = "width: 100%; height: 400px; display: block;">
            </highcharts-chart>
            <highcharts-chart
                [Highcharts] = "highcharts" 
                [options] = "lessonChartOptions"
                style = "width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>
        <highcharts-chart
            [Highcharts] = "highcharts" 
            [options] = "chartOptions"
            style = "width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>