.OnMentor {
    padding: 20px 40px;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-title {
        font-size: 24px;
        line-height: 40px;
        color: #707173;
    }

    &-formField {
        width: 200px;
        margin-right: 30px;
    }

    &-controls {
        display: flex;
        justify-content: flex-end;
    }

    &-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    &-contentItem {
        height: 115px;
        width: 350px;
        margin-right: 30px;
        margin-bottom: 20px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-numField {
        width: 90px;
        min-width: 90px;
        height: 115px;
        background-color: #96D2DC;
        color: white;
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-fullBlock {
        height: 100px;
        width: 60px;
        min-width: 60px;
        border-radius: 10px;
        background-color: #E5E1E2;
        position: relative;
        margin: 0 0 0 20px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 10px 7px 5px 7px;
        overflow: hidden;
    }

    &-display {
        height: 65px;
        width: 100%;
        background-color: #F5F5F5;
        margin-bottom: 7px;
        z-index: 100;
    }

    &-point {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #F5F5F5;
        z-index: 100;
    }

    &-backField {
        position: absolute;
        width: 60px;
        bottom: 0px;
        background-color: #65C2CA;
        z-index: 1;
    }

    &-fieldName {
        text-align: center;
        color: #3A3A3A;
        width: fit-content;
        padding: 0 20px;
    }

    &-showBtn {
        height: 51px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 20px;
    }

    &-highchart {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 40px;
    }

    &-loader {
        width: 100%;
        padding: 100px 0;
    }

    &-spiner {
        margin: 0 auto;
    }

}