<div class="AddModal" mat-dialog-content>
    <mat-form-field class="AddModal-field" appearance="fill">
        <mat-label >Введите адрес</mat-label> 
        <input 
            matInput
            [(ngModel)]="data.address"
            name="address"
            required
        >
    </mat-form-field>
    <mat-form-field class="AddModal-field" appearance="fill">
        <mat-label>Введите название филиала</mat-label>
        <input 
            matInput
            [(ngModel)]="data.name"
            name="name"
            required
        >
        <mat-error>
            Введите название
        </mat-error>
    </mat-form-field>
    
    <button
        mat-stroked-button
        [mat-dialog-close]="data"
        color="primary"
        cdkFocusInitial
        class="AddModal-addBtn"
        >
        Добавить
    </button>
</div>