<div class="LeadHistoryModal">
    <div class="LeadHistoryModal-storyPoints" *ngFor="let change of data">
        <div class="LeadHistoryModal-date">
            {{change.date | date: 'dd.MM.yyyy HH:mm' + ' '}}
            {{change.user.name}}
        </div>
        <div class="LeadHistoryModal-point" *ngFor="let point of change.diffKeys; let i = index">
            <div class="LeadHistoryModal-pointName">{{pointLabels[point].label}}</div>
            <div class="LeadHistoryModal-changes">
                <div class="LeadHistoryModal-before">
                    {{change.diffrence[i][0]}}
                </div>
                <div class="LeadHistoryModal-after">
                    {{change.diffrence[i][1]}}
                </div>
            </div>
        </div>
    </div>
</div>