.LeadHistoryModal {
    width: 100%;
    max-height: 90vh;
    // overflow: scroll;

    &-date {
        width: 100%;
        color: black;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    &-pointName {

    }

    &-changes {
        margin-bottom: 15px;
        padding-left: 20px;
    }

    &-before {
        width: fit-content;
        max-width: 50%;
        background-color: #fee8e9;
        margin: 6px 0;
        padding: 3px;
    }

    &-after {
        width: fit-content;
        max-width: 50%;
        background-color: #dfd;
        padding: 3px;
    }
}