<form #ngForm="ngForm" (ngSubmit)="submit(ngForm)">
    <div class="AddClassModal" mat-dialog-content>
        <mat-form-field class="AddClassModal-field" appearance="fill">
            <mat-label >Выберите урок</mat-label> 
            <mat-select [(ngModel)]="selectedTrialClass" name="trialClass" [disabled]="trialClassSelectOpts.length < 1" required>
                <mat-option *ngFor="let class of trialClassSelectOpts" [value]="class.value">
                    {{class.label | date : 'yyyy.MM.dd, HH:mm'}}
                </mat-option>
            </mat-select> 
        </mat-form-field>
        <button
            type="submit"
            mat-stroked-button
            color="primary"
            cdkFocusInitial
            class="AddClassModal-addBtn"
            >
            <span *ngIf="!isLoading">Добавить</span>
            <mat-spinner
                class="AddClassModal-spiner"
                diameter='35'
                *ngIf="isLoading"
                >
            </mat-spinner>
        </button>
    </div>
</form>