/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.cdk-overlay-container {
    z-index: 100 !important;
}

@font-face {
    font-family: 'verdana';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/verdana.ttf);
}

